/*Background styling*/

body{
    text-align: center;
    align-items: center;
    margin: 0;
    padding: auto;
    height: auto;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#index{
    text-align: center;
    align-items: center;
    margin: 0;
    padding: auto;
    height: auto;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;	
}

header{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Navigation bar styling*/
nav{
    display:flex ;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

ul{
    list-style-type: none;
    background-color: bisque;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    display: flex;
}

ul a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar a:hover{
    background-color: rgb(254, 205, 145);
    border-radius: 15px;
}

.navbar li{
    margin: 0 10px;
}

footer{
    background-color: bisque;
    padding: 20px;
    display: flex;
    text-align: center;
    direction: none;
    justify-content: center;
    border-radius: 20px;
    bottom: 0;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.whitebox{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 50%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.whiteboxoutside{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 70%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

  